# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# SQLite database
db.sqlite3

# Environment files
*.env
venv/

# Logs
*.log

# Media and static files
/media
/staticfiles

# OS junk
.DS_Store
Thumbs.db
