# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# SQLite database
db.sqlite3
env/

# Ignore Django migration cache
*.log
*.sqlite3
*.migrations/

# Ignore OS/system files
.DS_Store

# Environment files
*.env
venv/

# Logs
*.log

# Media and static files
/media
/staticfiles

# OS junk
.DS_Store
Thumbs.db

# Allow only specific files/folders to be pushed
!videos/
!channels/templates/channels/detail.html
!pytube/settings.py
!pytube/urls.py