{% extends 'channels/base.html' %}

{% block title %}All Channels{% endblock %}

{% block content %}
<h2>All Channels</h2>
<hr>
{% if object_list %}
    <div class="list-group">
        {% for channel in object_list %}
            <a href="{% url 'channels:detail' channel.id %}" class="list-group-item list-group-item-action">
                {{ channel.name }}
            </a>
        {% endfor %}
    </div>
{% else %}
    <p>No channels available. <a href="{% url 'channels:create' %}">Create one</a>.</p>
{% endif %}
{% endblock %}
